.container-clients {
  background-color: black;
}
.text-clients {
  height: 100vh;
  width: 80%;
  margin: 0 auto;
  background-color: white;
  display: flex;
  flex-wrap: wrap;
  padding: 30px 15px;
}
.text-clients .title {
  text-align: center;
  width: 100%;
}
.card-clients {
  width: calc((100% - 40px) / 3);
  height: 100px;
  margin: 5px;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  text-transform: capitalize;
}
